
@import "../../../responsive.scss";

mat-card[hidden]{
    display: none !important;
}

// search
.search {
    text-align: center;
    .mat-form-field {
        @include respond-above(xxxl) {
            width: 50%;
        }
        //
        @include respond-below(xxxl) {
            width: 50%;
        }
        @include respond-below(xxl) {
            width: 50%;
        }
        @include respond-below(xl) {
            width: 60%;
        }
        @include respond-below(lg) {
            width: 75%;
        }
        @include respond-below(md) {
            // full mobile
            width: 100%; 
        } 
    }
}

.tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem 0;

    h2 {
        background: #647ba1;
        width: 100%;
        text-align: center;
        font-family: "Source Sans Pro";
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem 0;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        li {
            display: inline-block;
            height: 8rem;
            text-align: center;
            overflow: hidden;

            @include respond-above(xxxl) {
                width: 20%;
            }
            //
            @include respond-below(xxxl) {
                width: 25%;
            }
            @include respond-below(xxl) {
                width: 25%;
            }
            @include respond-below(xl) {
                width: 32%;
            }
            @include respond-below(lg) {
                width: 32%;
            }
            @include respond-below(md) {
                // full mobile
                width: 50%;
            }

            i {
                font-size: 4.8rem;
            }
            img {
                display: block;
                height: 100%;
                margin: auto;
                max-height: 4.8rem;
                max-width: 100%;
                filter: grayscale(100%) brightness(1.5);

                &.invert {
                    filter: invert(1);
                }
                &.brightness {
                    filter: brightness(100);
                }
                &.matched {
                    background: #ff0000 !important;
                }
            }
            p {
                margin: 0.1rem 0 0 0;
                font-weight: 200;
                font-family: "Source Sans Pro";
            }
        }
    }
}
