<div class="vertical-space"></div>

<mat-card *ngFor="let history of histories; let idx = index; trackBy: trackByIndex" class="hue-0 my-card history">
    <h2 class="card-header mat-display-2">{{history.from}}</h2>

    <mat-card-content class="work-container padding">
        <div class="logo-container">
            <img [class]="history.logoClass" src="/assets/logos/{{history.logo}}" />
        </div>
        <div class="work-header left">

            <h3>
                {{history.from}} - {{history.to}}
            </h3>
            <h4>
                {{history.title}}
            </h4>
        </div>
        <div class="work-header right">
            <h3>
                {{history.companyName}}
            </h3>
            <h4>
                {{history.companyDescription}}
            </h4>
        </div>


        <div class="work-content">

            <div *ngFor="let groupKey of keysOf(history.details)">
                <h3>{{groupKey}}</h3>
                <div [innerHTML]="history.details[groupKey]">
                </div>
                <p class="mat-body-2"></p>
            </div>
        </div>
    </mat-card-content>

</mat-card>