<div class="vertical-space"></div>

<mat-card class="hue-0 my-card contact">
    <h2 class="card-header mat-display-2">Recruiters</h2>

    <mat-card-content class="">
        <p class="mat-body-2">If you are a recruiter, please read this quickly to save your self time!</p>
        <br />
        <p class="mat-body-2"><strong>Where am I willing to travel?: </strong><br />100% remote work or within 20 minutes of the Redditch area (excluding Birmingham City Centre) (e.g Bromsgrove, Alcester, Warwick, Leamington Spa, Stratford Upon Avon)
        </p>
        <br />
        <p class="mat-body-2"><strong>What am I looking for?: </strong><br />A technologically minded company that has big plans for the future. </p>
        <br />
        <p class="mat-body-2"><strong>Which technologies am I looking for or which technologies am I strong in?</strong><br />MEAN Stack.</p>

    </mat-card-content>

</mat-card>
<mat-card class="hue-2 my-card contact">
    <h2 class="card-header mat-display-2">My CV</h2>

    <mat-card-content class="cv-container">
        <p class="mat-body-2">This website is my CV, a word/PDF version of this site goes out of date very quickly.</p>
        <p class="mat-body-2">Nevertheless, you can download a PDF version here: </p>

        <a class="read-more" href="/assets/cv/Andrew-Jones-web.pdf" download="Andrew-Jones.pdf">Download as .PDF<i class="fad fa-chevron-right"></i></a>
        <a class="read-more" href="/assets/cv/Andrew-Jones-v14.docx" download="Andrew-Jones.docx">Download as .DOCX<i class="fad fa-chevron-right"></i></a>

    </mat-card-content>

</mat-card>
<mat-card class="hue-0 my-card contact">
    <h2 class="card-header mat-display-2">Contact</h2>

    <mat-card-content class="cv-container">
        <p class="mat-body-2"><strong>Email: </strong><a href="mailto:{{email}}">{{email}}</a></p>
        <p class="mat-body-2"><strong>LinkedIn: </strong> <a href="{{linkedIn}}" target="_blank">{{linkedIn}}</a></p>
        <p class="mat-body-2"><strong>GitHub: </strong> <a href="{{gitHub}}" target="_blank">{{gitHub}}</a></p>

    </mat-card-content>

</mat-card>
<mat-card class="hue-2 my-card contact">
    <h2 class="card-header mat-display-2">Phone Number</h2>

    <mat-card-content class="cv-container">
        <p class="mat-body-2">By default my phone number is not visible on this page, this is to stop bots from scraping it.</p>
        <p class="mat-body-2">Please click the button to see it.</p>
        <a class="read-more" (click)="showMyNumber()" >See my phone number<i class="fad fa-chevron-right"></i></a>
        <p *ngIf="myNumberVisible" class="mat-body-2">This is my phone number: <strong>{{myNumber}}</strong></p>
    </mat-card-content>

</mat-card>