extends ./layout/layout.jade
block header



block content
    md-content(layout="column" layout-padding layout-align="center center" layout-align-gt-md="start center" ng-hide="controller.isMobile")
        a(href="/" class="link-no-decoration")
            h1(layout="column" ng-class="{'md-display-3': controller.isMobile === true}" class="md-display-4") Mr Andrew Jones


    section(flex="none" layout="column" layout-gt-sm="row")
        

        div(layout="column" flex-gt-sm="30" layout-padding ng-controller="controllerNavigation as navigation")
            md-button(layout-padding ng-hide="!controller.isMobile" class="menu-icon-button md-raised md-primary" aria-label="Menu" layout="center center" ng-click="navigation.toggleNavigation()")
                div(class="menu-icon")
                    i(class="material-icons menu-icon") menu
                div(flex="100") 
                    span(ng-show="navigation.showNavigation") Hide Menu
                    span(ng-hide="navigation.showNavigation") Open Menu

            md-button(ng-repeat="option in navigation.menuOptions" ng-show="navigation.showNavigation || !controller.isMobile" layout-padding class="menu-icon-button md-raised md-primary" aria-label="{{option.title}}" layout="center center"  href="{{option.url}}"  ng-click="navigation.toggleNavigation()")
                    div(class="menu-icon")
                        i(class="material-icons menu-icon") {{option.symbol}}
                    div(ng-class="{'md-title' : !controller.isMobile}" flex="100") {{option.title}}
              
    

        div(layout="row" flex-gt-sm="70" layout-wrap)
            md-content(layout="column" flex="auto" ng-view)

        
