<div class="vertical-space"></div>

<mat-card class="hue-0 my-card about">
    <h2 class="card-header mat-display-2">Nerd alert!</h2>

    <mat-card-content class="padding ">
        <p class="mat-body-2">Programming is a life style for me, it is what I excel at and it's what I enjoy.</p>
        <p class="mat-body-2">I am full stack, I am highly experienced, I am capable. </p>
        <p class="mat-body-2">I've worked for large, medium, and small businesses, each size has their positives and negatives</p>
        <p class="mat-body-2">I'm big into 3D design and 3D printing, video games, and motorcycling!</p>

    </mat-card-content>

</mat-card>
<mat-card class="hue-2 my-card">
    <h2 class="card-header mat-display-2">Where it began</h2>

    <mat-card-content class="padding ">
        <p class="mat-body-2">I started making web sites back in 2000 when I was a baby faced 10 year old boy learning the basics of HTML from my brother (who was 13 and learning HTML in school).</p>
        <p class="mat-body-2">I didn't really know what I was doing, I just knew that changing bits of the code (in Notepad on a Windows 95 PC!) would cause the page to change.</p>
        <p class="mat-body-2">This curiosity lead me down a path of obsession, excitement and ultimately a career.</p>

    </mat-card-content>

</mat-card>
<mat-card class="hue-0 my-card">
    <h2 class="card-header mat-display-2">Where I am now</h2>

    <mat-card-content class="padding ">
        <p class="mat-body-2">Currently I work for The NEC Group - a huge exhibition company.</p>
        <p class="mat-body-2">I started working at The NEC in August 2017 as a lead software engineer, it is a fantastic place to work at.</p>
        <p class="mat-body-2">I was hired to lead the team that focuses on one particular service we provide to our clients, a service we call "ExpoWare" which is a exhibition ticketing system.</p>

    </mat-card-content>
</mat-card>

<mat-card class="hue-2 my-card">
    <h2 class="card-header mat-display-2">Where I am heading</h2>

    <mat-card-content class="padding ">
        <p class="mat-body-2">I absolutely love the MEAN stack, particularly TypeScript.</p>
        <p class="mat-body-2">I need to be working with TypeScript in my full time work.</p>
        <p class="mat-body-2">I like working for large companies too.</p>

    </mat-card-content>
</mat-card>

<mat-card class="hue-0 my-card motorcycles">
    <h2 class="card-header mat-display-2"><span class="mobile">Motor</span>Bikes</h2>

    <mat-card-content class="padding ">
        <p class="mat-body-2">I'm a big fan of motorcycles.</p>
        <p class="mat-body-2">I currently only own 2 motorcycles, I would have more if I could!</p>

        <ul>
            <li>
                <img src="/assets/photos/drifter.jpg" />
                <p>Kawasaki VN800 Drifter (2004)</p>
            </li>
            <li>
                <img src="/assets/photos/z900.jpg" />
                <p>Kawasaki Z900 (2021)</p>
            </li>
        </ul>

    </mat-card-content>
</mat-card>