/* 
    Created on : 02-Aug-2016, 23:20:18
    Author     : Jhey
*/
/* Variables in here */
/* 
    Created on : 28-Dec-2016, 11:52:55
    Author     : AndrewJ
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html {
  font-family: "Palanquin", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: transparent; }

body {
  background-color: #2a2f45;
  background-repeat: no-repeat;
  background-size: 1000%;
  color: #FFFFFF; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  letter-spacing: 1px; }

.link-like {
  color: #f57c00;
  margin: initial;
  display: inline; }

p {
  margin: .25em; }

h1 {
  text-align: center;
  margin: .5em 0;
  color: #ffffff; }

.left-text {
  text-align: left; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

md-content {
  color: #FFFFFF;
  background: none; }

md-content.bg-coloured {
  background: #fff; }

.clr {
  clear: both; }

.clr:after,
.clr:before {
  content: " ";
  clear: both; }

img {
  max-width: 100%; }

.menu-icon {
  font-size: 70px;
  line-height: 50px;
  height: 50px; }

.menu-icon-button {
  max-height: 100px; }

.psuedo-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.link-no-decoration {
  text-decoration: none;
  color: inherit; }

.height-auto {
  height: auto !important;
  max-height: 100% !important; }

.emphasise {
  color: #009926; }

.tech-list {
  list-style: none; }
  .tech-list li h5 {
    display: inline; }
  .tech-list > li:before {
    content: "\2022";
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    width: 15px;
    margin-left: -30px;
    margin-top: 0px;
    height: auto;
    vertical-align: text-top; }
  .tech-list > li[class='current']:before {
    color: #ffb74d; }
  .tech-list > li[class='previous']:before {
    color: #8c9eff; }
  .tech-list > li[class='hobby']:before {
    color: #211400; }

/* Over-ride */
md-tabs.md-hue-1.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #373d56; }

md-tabs.md-primary > md-tabs-wrapper {
  border-radius: 3px; }

/* Tech */
.basic-boxes {
  padding: 0;
  margin: 15px 0 0 0; }
  .basic-boxes > ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0; }
    .basic-boxes > ul > li:nth-of-type(3n+1) {
      margin: 15px 15px 15px 0; }
    .basic-boxes > ul > li:nth-of-type(3n+3) {
      margin: 15px 0 15px 15px; }
    .basic-boxes > ul > li {
      display: block;
      box-sizing: border-box;
      width: calc(33.3% - 20px);
      float: left;
      background: #ff9800;
      color: #000;
      margin: 15px 15px 0 15px;
      padding: 15px;
      text-align: center; }
      .basic-boxes > ul > li ul {
        list-style: inside;
        margin: 0;
        padding: 0; }
    .basic-boxes > ul > li:nth-of-type(4) {
      clear: both; }

code .string {
  color: #ffffff; }

code .number {
  color: darkorange; }

code .boolean {
  color: blue; }

code .null {
  color: magenta; }

code .key {
  color: #ffc600; }
