@import "../../../responsive.scss";
ul,li {
    list-style: disc;
}
.education-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
    font-family: "Source Sans Pro";

    > h3 {
        font-size: 1.4rem;
        margin: 2rem 0 0.5rem 0;
    }
    > h4 {
        font-size: 1.1rem;
    }
    > h3,
    > h4 {
        font-family: "Source Sans Pro";
        width: 50%;

        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
    }
    a {
        color: #fff;
    }
    .logo-container {
        width: 100%;
        img {
            max-width: 25%;
            max-height: 10rem;

            @include respond-above(xxxl) {
                max-width: 33%;
            }
            //
            @include respond-below(xxxl) {
                max-width: 40%;
            }
            @include respond-below(xxl) {
                max-width: 50%;
            }
            @include respond-below(xl) {
                max-width: 60%;
            }
            @include respond-below(lg) {
                max-width: 70%;
            }
            @include respond-below(md) {
                max-width: 100%;
            }
            display: block;
            margin: auto;
            padding: 0rem;

            filter: grayscale(1) invert(1) brightness(3.5);
            &.invert {
                filter: grayscale(1) brightness(3.5);
            }
        }
    }
}

@media print {
    .logo-container {
        filter: invert(100%);
        img {
            max-width: 25%;
        }
    }
    .education-container {
        > h4 {
            display: none !important;
        }
    }
}