h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    margin: 3rem 0;
    font-size: 6rem;
    line-height: 6rem;
}

#featured-background {
    background: #242932;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

