header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    filter: invert(100%);
    font-family: sans-serif;
}
h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.box {
    background-color: #fff;
    height: 100px;
    width: 100px;
    mix-blend-mode: difference;
    transform: translate(0px);
    animation-duration: 3s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slidein {
    from {
        transform: translateX(5000px);
    }

    to {
        transform: translateX(0px);
    }
}
