@import "../../../responsive.scss";

.mat-card {
    &.hero {
        @include respond-below(md) {
            // full mobile
            background: #242932;
        }
        .mat-card-content {
            font-family: "Source Sans Pro", sans-serif !important;
            background: none;
            min-width: initial;
            text-align: center;
            width: auto;
            border: none;
            h1 {
                font-family: inherit;
                font-size: 6rem;
                font-weight: 200;
                margin: 0;
            }
            p {
                font-family: inherit;
                text-align: right;
                font-weight: 300;
            }
        }
    }
    &.tech {
        .mat-card-content {
            .tech-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                align-items: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    max-width: 100%;

                    li {
                        display: inline-block;
                        width: 25%;

                        @include respond-above(xxxl) {
                            width: 33%;
                        }
                        //
                        @include respond-below(xxxl) {
                            width: 33%;
                        }
                        @include respond-below(xxl) {
                            width: 50%;
                        }
                        @include respond-below(xl) {
                            width: 50%;
                        }
                        @include respond-below(lg) {
                            width: 50%;
                        }
                        @include respond-below(md) {
                            width: 50%;
                        }
                        @include respond-below(xs) {
                            // full mobile
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &.portfolio {
        .mat-card-content {
            .portfolio-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;

                img {
                    max-height: 18rem;
                    margin: 1rem;
                    border: 1px solid #242932;
                }
            }
        }
        > h2 {
            padding: 5rem 2rem;
        }
    }
    &.work {
        .mat-card-content {
            img {
                width: 25%;
                float: right;

                &.nec-logo {
                    filter: grayscale(100%) brightness(3);
                }
            }
        }
        .clients-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            max-height: initial;
            img {
                @include respond-above(xxxl) {
                    width: 25%;
                    padding: 1.5rem;
                }
                //
                @include respond-below(xxxl) {
                    width: 25%;
                    padding: 1.5rem;
                }
                @include respond-below(xxl) {
                    width: 25%;
                    padding: 1.5rem;
                }
                @include respond-below(xl) {
                    width: 33%;
                    padding: 1.5rem;
                }
                @include respond-below(lg) {
                    width: 33%;
                }
                @include respond-below(md) {
                    width: 33%;
                }
                @include respond-below(xs) {
                    // full mobile
                    width: 100%;
                }
            }
        }
    }
}

@include respond-below(md) {
    // full mobile

    .no-mobile {
        display: none;
    }
}
@include respond-below(xxl) {
    .no-tablet {
        display: none;
    }
}
