<mat-card class="hue-0 hero no-side-heading">
    <mat-card-content class="padding">

        <h1 class="mat-display-4">
            Andrew Jones
        </h1>
        <p class="mat-headline">Developer/Nerd/Father/Biker</p>

    </mat-card-content>
</mat-card>

<mat-card class="hue-2 my-card work">
    <h2 class="card-header mat-display-2">Work</h2>
    <mat-card-content>
        <h3 class="mat-body-2">My current role</h3>
        <img class="nec-logo" src="/assets/logos/promotions-interactive.svg" />
        <p>Employer: <strong>Promotions Interactive</strong></p>
        <p>Position: <strong>Tech Lead</strong></p>
        <p>Years of service: <strong>{{yearsOfService}}+</strong></p>
        <br />


        <div class="tech">
            <ul>
                <li>
                    <app-logo icon="typescript"></app-logo>
                </li>
                <li>
                    <app-logo icon="angular2"></app-logo>
                </li>
                <li>
                    <app-logo icon="nodejs"></app-logo>
                </li>
                <li>
                    <app-logo icon="mongodb"></app-logo>
                </li>
            </ul>
        </div>
        <div class="clr"></div>
        <br />
        <br />
        <h3 class="mat-body-2">I'm Trusted By</h3>
        <div class="clients img-container">
            <ul>
                <li><img class="greyscale-with-invert" src="/assets/clients/amazon.png"></li>
                <li><img class="" src="/assets/clients/cadbury.png"></li>
                <li><img class="" src="/assets/clients/pepsi.png"></li>
                <li><img class="greyscale-with-invert" src="/assets/clients/coca-cola.png"></li>
            </ul>
            <p class="many-more mat-body-2"><small>...and many more</small></p>
        </div>
        <div class="clr"></div>
        <h4>Industry-leading scalability trusted by dozens of global, multi-billion dollar companies</h4>
        <h5>1 million hits is a slow day!</h5>
        <button class="read-more" routerLink="/work">Work History<i class="fad fa-chevron-right"></i></button>
    </mat-card-content>
</mat-card>


<mat-card class="hue-0 my-card tech">
    <h2 class="card-header mat-display-2">Tech</h2>

    <mat-card-content>
        <h3 class="mat-body-2">I've worked with <em>a lot </em> of tech, here's what I'm working with most at the moment</h3>
        <div class="tech-container">

            <ul>
                <li>
                    <app-logo [extra]="true" [origin]="true" icon="javascript"></app-logo>
                </li>
                <li>
                    <app-logo [extra]="true" [origin]="true" icon="nodejs"></app-logo>
                </li>
                <li>
                    <app-logo [extra]="true" [origin]="true" icon="typescript"></app-logo>
                </li>
                <li>
                    <app-logo [extra]="true" [origin]="true" icon="angular2"></app-logo>
                </li>
                <li>
                    <app-logo [extra]="true" [origin]="true" icon="mongodb"></app-logo>
                </li>
                <li>
                    <app-logo [extra]="true" [origin]="true" icon="azure"></app-logo>
                </li>
            </ul>
        </div>

        <button class="read-more" routerLink="/tech">Tech Experience<i class="fad fa-chevron-right"></i></button>
    </mat-card-content>

</mat-card>
<mat-card class="hue-2 my-card portfolio">

    <h2 class="card-header mat-display-2">Portfolio</h2>
    <mat-card-content>
        <h3 class="mat-body-2">I've worked on software, mobile apps, web sites</h3>
        <div class="portfolio-container">
            <img src="/assets/portfolio/brokebitchgames.png" />
            <img class="no-tablet" src="/assets/portfolio/uttabliss.png" />
            <img class="no-mobile" src="/assets/portfolio/cruise.png" />
        </div>

        <button class="read-more" routerLink="/portfolio">My Portfolio<i class="fad fa-chevron-right"></i></button>
    </mat-card-content>

</mat-card>

<mat-card class="hue-0 my-card about">
    <h2 class="card-header mat-display-2">About Me</h2>

    <mat-card-content>
        <p class="mat-body-2">Programming is a life style for me, it is what I excel at and it's what I enjoy.</p>
        <p class="mat-body-2">I am full stack, I am highly experienced, I am capable. </p>
        <p class="mat-body-2">I've worked for large, medium, and small businesses, each size has their positives and negatives</p>
        <p class="mat-body-2">I'm big into 3D design and 3D printing, video games, and motorcycling!</p>
        <button class="read-more" routerLink="/about">About Me <i class="fad fa-chevron-right"></i></button>
    </mat-card-content>

</mat-card>

<mat-card class="hue-2 my-card about">
    <h2 class="card-header mat-display-2">Contact</h2>

    <mat-card-content>
        <p class="mat-body-2">If you like what you see and you wish to contact me, you can find out how on my contact me page.</p>
        <button class="read-more" routerLink="/contact">Contact Me <i class="fad fa-chevron-right"></i></button>
    </mat-card-content>

</mat-card>
<div class="clr"></div>