.logo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 10rem;
    justify-content: space-between;

    i {
        font-size: 4rem;
    }
    .img-container {
        max-height: 5.5rem;
        img {
            display: block;
            padding: 0.1rem 0;
            min-height: 5rem;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            filter: grayscale(100%) brightness(1.5);

            &.invert {
                filter: invert(1) brightness(1.5);
            }
            &.brightness {
                filter: brightness(100);
            }
        }
    }
    &.blurb {
        padding: 0;
        height: 100%;
        header {
            height: 12rem;
            margin: 0 auto 1rem auto;
            i {
                display: block;
                font-size: 10rem;
            }
        }

        section {
            flex-grow: 1;
        }

        .img-container {
            height: 10rem;
            max-height: initial;
            img {
                height: inherit;
            }
        }
        hr {
            margin: 2rem 0;
        }
        .summary-bar {
            margin: 0 -1.5rem 0.5rem -1.5rem;
            p {
                width: 100%;
                text-align: center;
            }
            font-size: 1rem;
        }
        .read-more {
            display: block;
            margin: 1.5rem auto;
            float: none;
            i {
                font-size: 1.5rem;
            }
        }
    }
    p {
        font-family: "Source Sans Pro";
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }
    .icon-bar {
        display: flex;
        margin: -1rem -1rem 0.5rem -1rem;
        padding: 0.5rem;
        background: rgb(0 0 0 / 34%);
        .experience {
            font-size: 1rem;
            margin: 0.2rem 0.5rem 0 0;
        }
        .skill {
            font-size: 0.75rem;
        }
        .spacer {
            flex-grow: 1;
        }
        .years {
            font-size: 0.8rem;
            text-align: right;

            &.high {
                color: #00ff00;
            }
            &.medium {
                color: #ffff00;
            }
            &.low {
                color: #fff;
            }
        }
    }

    &.extra {
        margin: 0.5rem;
        cursor: pointer;
    }

    &.has-icon-bar {
        border-bottom: 0.25rem solid #18202c;
        border-left: 0.25rem solid #18202c;
        border-right: 0.25rem solid #18202c;
        border-radius: 0% 0% 30% 30%;
        height: 12rem;
        background: #2a2a2a;

        &:hover {
            background: #303030;
        }
    }
}
