<div class="logo {{extra ? 'extra' : ''}} {{experienceClass(selected.experience)}} {{origin ? 'has-icon-bar' : ''}}" *ngIf="selected">
    <div *ngIf="origin" class="icon-bar">
        <i *ngFor="let exp of selected.experience" class="{{experienceIconIndex[exp]}}" matTooltip="{{experienceWordingIndex[exp]}}"></i>
        <i class="spacer"></i>
        <i class="years {{selected.years >= 10 ? 'high' : selected.years >= 5 ? 'medium' : 'low'}}" matTooltip="I've been using this for {{selected.years}} years">{{selected.years}} yrs</i>
    </div>
    <i *ngIf="selected.iconSrc" class="fab {{selected.iconSrc}}"></i>
    <img *ngIf="selected.imgSrc" src="/assets/logos/{{selected.imgSrc}}" class=" {{selected.doInvert ? 'invert': ''}}  {{selected.doBrightness ? 'brightness': ''}}" />

    <p>{{label || selected.label}}</p>
</div>


