.padding {
    padding: 16px;
}

.container {
    width: 85%;
    margin: auto;
    .codebase {
        text-align: center;
        width: calc(90% - 20px);
        margin: 10px;
        box-sizing: border-box;
        white-space: pre-line;
        height: 185px;
        &.small {
            height: 95px;
        }
        .pipeline-container {
            height: 20px;
        }
        img {
            display: block;
            margin: 5px auto;
            max-width: 100%;
        }
        .version {
            display: block;
            font-weight: bold;
            font-size: 18px;
        }
    }
    h2 {
        text-align: center;
    }
}