<div layout-margin-gt-md>
    <md-content ng-controller="controllerEducation as education">
        <md-toolbar class="md-accent md-hue-1" >
            <div class="md-toolbar-tools">
                <h2 flex="auto" class="md-flex">Education</h2>
            </div>

        </md-toolbar>
        <ul class="psuedo-list" layout="row" layout-wrap>
            <li flex="100">
                <md-toolbar class="md-primary md-hue-1">
                    <div class="md-toolbar-tools">
                        <h2 flex="auto">Courses Passed</h2>
                    </div>
                </md-toolbar>
                <div layout-margin layout="row" layout-wrap>
                    <div layout-padding flex="100" class="psuedo-list" ng-repeat="oCourse in education.oExperiences['Qualifications']">
                        <div>
                            <div layout="row" class="md-headline" flex="100" layout-wrap>
                                <p flex="auto">{{oCourse.title}}</p>
                                <p flex="nogrow" class="">{{oCourse.issuer}}</p>
                            </div>
                            <div layout="row" class="md-headline" flex="100" layout-wrap>
                                <p flex="auto" class="md-subhead">{{oCourse.date}}</p>
                                <a ng-show="oCourse.certificateUrl" href="{{oCourse.certificateUrl}}" target="_blank" flex="nogrow" class="md-subhead">View Certificate</a>
                                <p class="md-body-1" ng-show="!oCourse.certificateUrl">Sorry, no certificate avaiable</p>
                                <p flex="100" class="md-subhead"></p>    
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </li>
            <li flex="100">
                <md-toolbar class="md-primary md-hue-1">
                    <div class="md-toolbar-tools">
                        <h2 flex="auto">Notable books</h2>
                    </div>
                </md-toolbar>
                <div layout-margin layout="row" layout-wrap>
                    <div layout-padding flex="100" flex-gt-xs="50" class="psuedo-list" ng-repeat="oBook in education.oExperiences['Books']">
                        <div>
                            <div layout="row"  flex="100" layout-wrap>
                                <p class="md-headline" flex="auto">{{oBook.title}}</p>
                                <p class="md-subhead" flex="100">{{oBook.author}}</p>
                                

                                <p flex="100" class="md-body-2">{{oBook.description}}</p>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
            </li>
        </ul>
    </md-content>
</div>