<div layout-margin-gt-md>
    <md-content ng-controller="controllerPortfolio as portfolio" flex>
        <md-toolbar class="md-accent md-hue-1">
            <div class="md-toolbar-tools">
                <h2 flex="auto" class="md-flex">Technologies</h2>
            </div>
        </md-toolbar>
        <md-tabs class="md-primary  md-hue-1" md-center-tabs md-dynamic-height md-selected="selectedIndex">
            <md-tab label="basic">
                <md-content class="basic-boxes md-padding">
                    <ul layout="row" layout-padding layout-wrap>
                        <li flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33">
                            <div>
                                <h3>App Development</h3>
                                <ul>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Ionic framework</li>
                                </ul>
                            </div>
                        </li>
                        <li flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33">
                            <div>
                                <h3>Web Development</h3>
                                <ul>
                                    <li>MEAN stack
                                        <!--(MongoDB, Express, Angular (1 & 2+), NodeJS)-->
                                    </li>
                                    <li>LAMP stack
                                        <!--(Linux, Apache, MySQL, PHP)-->
                                    </li>
                                    <li>LASP stack
                                        <!--(Linux, Apache, SQL Server, PHP)-->
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33">
                            <div>
                                <h3>Build Tools</h3>
                                <ul>
                                    <li>Azure Pipelines
                                        <!--Visual Studio Team Services-->
                                    </li>
                                    <li>Jenkins
                                        <!--Git-->
                                    </li>
                                    <li>Gulp</li>
                                </ul>
                            </div>
                        </li>
                        <li flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33">
                            <div>
                                <h3>Testing</h3>
                                <ul>
                                    <li>Mocha</li>
                                    <li>Should JS</li>
                                    <li>Supertest</li>
                                </ul>
                            </div>
                        </li>
                        <li flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33">
                            <div>
                                <h3>Databases</h3>
                                <ul>
                                    <li>MongoDB</li>
                                    <li>MSSQL</li>
                                    <li>MySQL</li>
                                </ul>
                            </div>
                        </li>
                        <li flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33">
                            <div>
                                <h3>Administration</h3>
                                <ul>
                                    <li>Linux (Ubuntu + Gentoo + CentOS)</li>
                                    <li>Windows Server</li>
                                    <li>Cloudflare</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <br />
                    <div class="clr"></div>
                    <md-button layout="center center" ng-click="selectedIndex = 1;" class="md-raised md-secondary">View More / Technical view</md-button>
                </md-content>
            </md-tab>
            <md-tab label="advanced">
                <md-content class="md-padding md-body-1" ng-controller="controllerTechnology as tech">
                    <form name="techSearch" layout-margin ng-show="controller.displayMode === 'text' && !controller.isMobile" layout="row">
                        <label>Looking for something specific?: </label>
                        <input layout-padding type="text" name="search" placeholder="Enter a value to search" value="" ng-model="tech.searchTerm" ng-change="tech.searchChange()" />
                        <md-switch ng-model="tech.filterResults" aria-label="Filter Results" class="md-warn">
                            Filter Results?
                        </md-switch>
                    </form>
                    <h3>Colour Key:</h3>
                    <ul class="tech-list">
                        <li class="current">Current role</li>
                        <li class="previous">Previous roles</li>
                        <li class="hobby">Hobby skill</li>
                    </ul>

                    <ul ng-show="controller.displayMode === 'text'" class="psuedo-list" layout="row" layout-padding layout-wrap>
                        <li flex="100" flex-gt-sm="50" flex-gt-md="33" ng-repeat="(categoryName, oCategory)  in tech.oTechnologies" ng-show="!tech.searchTerm || !tech.filterResults || tech.searchCategories['show' + categoryName] === true">
                            <div layout-margin>
                                <h3 class="md-headline">{{categoryName}}</h3>
                                <ul>
                                    <li ng-repeat="(subcategoryName, oSubcategory) in oCategory" ng-show="!tech.searchTerm || !tech.filterResults || tech.searchKeys['show' + subcategoryName] === true">
                                        <h4 class="md-subhead" ng-class="{'emphasise': tech.searchKeys['show' + subcategoryName] === true}">{{subcategoryName}}</h4>
                                        <ul class="tech-list">
                                            <li class="{{techName.history}}" ng-repeat="techName in oSubcategory" ng-show="!tech.searchTerm || !tech.filterResults || tech.searchValues['show' + techName.value] === true">
                                                <h5 class="md-body-1" ng-class="{'emphasise': tech.searchValues['show' + techName.value] === true}">{{techName.value}}</h5>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div ng-show="controller.displayMode === 'JSON'">
                        <pre><code ng-bind-html="controller.convertToJSON(tech.oTechnologies)"></code></pre>
                    </div>
                    <div ng-show="controller.displayMode === 'XML'">
                        <pre><code ng-bind-html="controller.convertToXML(tech.oTechnologies)"></code></pre>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>